<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Login"></Label>
</ActionBar>
<GridLayout backgroundColor="#333333">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                <StackLayout class="input-field">
                    <Label text="CNPJ" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" name="cnpj" [(ngModel)]="campos.cnpj"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Senha" class="label font-weight-bold m-b-5"></Label>
                    <TextField secure="true" name="senha" class="input" [(ngModel)]="campos.senha"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <Button class="btn btn-primary w-full" text="Entrar" (tap)="login()"></Button>
             
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
